{% load static %}

{% if acceptWebp %}

<!-- imagenes en formato webp -->
  {% if products|length != 0 %}
    {% for p in products %}
      {% if p.inStock %}
        {% if p.description %}
          <div class=" col-6 col-sm-4 col-lg-3  product-item p-1" data-toggle="modal" data-target="#modalQuickView" onclick="ShowProduct( '{{p.code}}','{{p.img_webp.url}}','{{p.name}}', '{{p.fixedLowerPrice}}', true, '{{p.description}}')">
        {% else %}
          <div class=" col-6 col-sm-4 col-lg-3  product-item p-1" data-toggle="modal" data-target="#modalQuickView" onclick="ShowProduct( '{{p.code}}','{{p.img_webp.url}}','{{p.name}}', '{{p.fixedLowerPrice}}', true, false)">
        {% endif  %}
      {% else %}
        {% if p.description %}
          <div class=" col-6 col-sm-4 col-lg-3 product-item p-1" data-toggle="modal" data-target="#modalQuickView" onclick="ShowProduct( '{{p.code}}','{{p.img.url}}','{{p.name}}', '{{p.fixedLowerPrice}}', true, '{{p.description}}')">
        {% else %}
        {% endif  %}
      <div class=" col-6 col-sm-4 col-lg-3  product-item p-1" data-toggle="modal" data-target="#modalQuickView" onclick="ShowProduct( '{{p.code}}','{{p.img.url}}','{{p.name}}', '{{p.fixedLowerPrice}}', false, false)">
      {% endif %}
        <div class="card h-100 custom-card">
          <div class="text-center d-flex align-items-center justify-content-center div-img" style="position: relative; cursor: pointer;">
            <img class="card-img-top" src={{p.img_webp.url}} alt="Image" style="max-width: 100px; max-height: 100px;">
            <span class="text-muted product-code">Cod: {{p.code}}</span>
          </div>
          <div class="card-body custom-body-item">
            <div class="row">
              <!--
              <div class="col-6">
                {% if p.inStock %}
                <div class="stock-item text-left w-100 text-muted">En stock</div>
                {% else %}
                <div class="spend-item text-left w-100">Agotado</div>
                {% endif %} 
              </div>
            -->
              <div class="col-12">
                <div class="price-item text-center w-100">$ {{p.fixedLowerPrice}}</div>
              </div>
            </div>
            <!--
            <div class="row">
              <div class="col-12">
                <h4 class="card-title text-center">
                  <span class="product-name font-b text-center w-100">{{p.name}} {% if p.brand %}{{p.brand}}{% endif %}</span>
                </h4>
              </div>
            </div>
          -->
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <div class="col-8 col-sm-12">
    <div class="row">
      <div class="col-12">
          <p class="text-center text-muted">No se encontraron resultados de busqueda coincidentes con '<b>{{query}}</b>'</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <img src="{% static 'img/sad-icon.png' %}" alt="Icon-no-results">
      </div>
    </div>
  </div>
  {% endif %}

{% else %}

  <!-- imagenes en otro formato que no es webp -->
  {% if products|length != 0 %}
    {% for p in products %}
      {% if p.inStock %}
        {% if p.description %}
          <div class="col-lg-3 col-sm-6 product-item" data-toggle="modal" data-target="#modalQuickView" onclick="ShowProduct( '{{p.code}}','{{p.img.url}}','{{p.name}}', '{{p.price}}', true, '{{p.description}}')">
        {% else %}
          <div class="col-lg-3 col-sm-6 product-item" data-toggle="modal" data-target="#modalQuickView" onclick="ShowProduct( '{{p.code}}','{{p.img.url}}','{{p.name}}', '{{p.price}}', true, false)">
        {% endif  %}
      {% else %}
        {% if p.description %}
          <div class="col-lg-3 col-sm-6 product-item" data-toggle="modal" data-target="#modalQuickView" onclick="ShowProduct( '{{p.code}}','{{p.img.url}}','{{p.name}}', '{{p.price}}', true, '{{p.description}}')">
        {% else %}
        {% endif  %}
      <div class="col-lg-3 col-sm-6 product-item" data-toggle="modal" data-target="#modalQuickView" onclick="ShowProduct( '{{p.code}}','{{p.img.url}}','{{p.name}}', '{{p.price}}', false, false)">
      {% endif %}
        <div class="card h-100 custom-card">
          <div class="text-center d-flex align-items-center justify-content-center div-img" style="position: relative; cursor: pointer;">
          <img class="card-img-top custom-img" src={{p.img.url}} alt="Image">
            <span class="text-muted product-code">Cod: {{p.code}}</span>
          </div>
          <div class="card-body custom-body-item">
            <div class="row">
              <div class="col-6">
                {% if p.inStock %}
                <div class="stock-item text-left w-100 text-muted">En stock</div>
                {% else %}
                <div class="spend-item text-left w-100">Agotado</div>
                {% endif %} 
              </div>
              <div class="col-6">
                <div class="price-item text-right w-100">$ {{p.price}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4 class="card-title text-center">
                  <span class="product-name font-b text-center w-100">{{p.name}} {% if p.brand %}{{p.brand}}{% endif %}</span>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <div class="col-8 col-sm-12">
    <div class="row">
      <div class="col-12">
          <p class="text-center text-muted">No se encontraron resultados de busqueda coincidentes con '<b>{{query}}</b>'</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <img src="{% static 'img/sad-icon.png' %}" alt="Icon-no-results">
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}


