<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-4 footer-page">
                <div class="row justify-content-center">
                    <div class="col-8 footer-section-title">
                        <p>DM</p>
                    </div>
                    <div class="col-8 footer-section-body">
                        <p>Jugueter&iacute;a online.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 footer-links">
                <div class="row justify-content-center">
                    <div class="col-8 footer-section-title">
                        <p>Secciones</p>
                    </div>
                    <div class="col-8 footer-section-body">
                        <ul>
                            <li><a href="{% url 'home:home' %}">Inicio</a></li>
                            <li><a href="#productsSection">Productos</a></li>
                            <li><a href="#opening">Horarios</a></li>
                            <li><a href="#contact">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 footer-social">
                <div class="row justify-content-center">
                    <div class="col-8 footer-section-title">
                        <p>Contacto</p>
                    </div>
                    <div class="col-8 footer-section-body">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="m-0 text-center text-copyright">DM&copy;2022</p>
        </div>
    </div>
    </div>
</footer>