<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-4 footer-page">
                <div class="row justify-content-center">
                    <div class="col-8 footer-section-title">
                        <p>DM</p>
                    </div>
                    <div class="col-8 footer-section-body">
                        <p>Online toy store.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 footer-links">
                <div class="row justify-content-center">
                    <div class="col-8 footer-section-title">
                        <p>Sections</p>
                    </div>
                    <div class="col-8 footer-section-body">
                        <ul>
                            <li><a href="{% url 'home:home' %}" aria-label="Home">Home</a></li>
                            <li><a href="#productsSection" aria-label="Products">Products</a></li>
                            <li><a href="#opening" aria-label="Schedules">Opening hours</a></li>
                            <li><a href="#contact" aria-label="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 footer-social">
                <div class="row justify-content-center">
                    <div class="col-8 footer-section-title">
                        <p>Contact</p>
                    </div>
                    <div class="col-8 footer-section-body">
                        <ul>
                            <li>
                                <a href="#" aria-label="Facebook">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="Whats App">
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="Email">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="m-0 text-center text-copyright">DM&copy;2023</p>
        </div>
    </div>
    </div>
</footer>