{% extends 'base.html' %} 

{% load static %} 

{% block style %}
<link href="{% static 'products/css/products.css' %}" rel="stylesheet">
<link href="{% static 'products/css/product.css' %}" rel="stylesheet">
<link href="{% static 'products/css/questions.css' %}" rel="stylesheet">  
{% endblock %} 

{% block content %}
<div class="container">
   <div class="row my-4">

      <div class="col-12">
         <a href="{% url 'home:home'%}#products" class="btn btn-link"><i class="bi bi-arrow-left left"></i>Volver</a>
      </div>

      <!-- product -->
      <div class="col-12 main-product">
         <div class="row">
            <div class="col-12 col-md-8 product-img">
               <img src="{{product.img.url}}" alt="Product Image">
            </div>
            <div class="col-12 col-md-4 product-detail">
               <div class="row product-title">
                  <div class="col-12">
                     <h2>{{product.name}}</h2>
                  </div>
               </div>
               <div class="row product-info">
                  <div class="col-6 price">
                     <p class="text-success text-left">$ {{product.price}}</p>
                  </div>
                  <div class="col-6 availability">
                     <p class="text-muted text-right">Disponible</p>
                  </div>
               </div>
               <div class="row product-description">
                  <div class="col-12">
                     <p>{{product.description}}</p>
                  </div>
                  <div class="col-12 code" data-code="{{product.code}}">
                     <p class="text-muted text-left">C&oacute;d: {{product.code}}</p>
                  </div>
               </div>
               <div class="row product-consult">
                  <div class="col-12">
                     <button type="button" class="btn btn-success d-block w-100">
                        Consultar <i class="bi bi-whatsapp"></i>
                     </button>
                     <div class="product-questions d-none">
                        <ul>
                           <li data-question="1">¿Ten&eacute;s disponible?</li>
                           <li data-question="2">¿Me pod&eacute;s enviar?</li>
                           <li class="last-question" data-question="3">Realizar otra pregunta.</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /product -->

      <!-- More Products -->
      <div class="col-12 recommendations">
         <div class="row my-4">
            <div class="col-12">
               <p class="text-center">Productos que te pueden interesar</p>
            </div>
         </div>
         <div class="row products">
         
            <div id="carouselIndicators" class="carousel slide full-width" data-ride="carousel">
               <div class="carousel-inner" role="listbox">
                  {% for asd in recommendations %}
                  <div class="carousel-item {% if forloop.first %} active {% endif %}">
                     <div class="row">
                        {% for p in asd %}
                        <a class="col-lg-3 col-sm-6 my-1 px-1" href="{% url 'products:product' p.id %}">
                           <div class="card product">
                              <div class="product-header">
                                 <img class="card-img-top custom-img" src="{{p.img.url}}" alt="Image">
                                 <div class="price">
                                    <span>{{p.price}}</span>
                                 </div>
                                 <div class="in-stock">
                                    <span>{% if p.in_stock %}Disponible{% else %}Sin stock{% endif %}</span>
                                 </div>
                              </div>
                  
                              <div class="product-title">
                                 <div class="name">
                                    <p>{{p.name}}</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                        {% endfor %}
                     </div>
                  </div>
                  {% endfor %}
               </div>
               <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
      
      <!-- /recommendations -->
   </div>
</div>

{% endblock %} {% block script %}
<script src="{% static 'products/js/product.js'%}" type="module"></script>
{% endblock %}