{% load static %}

<div class="row products" id="products">

   <div class="col-12 products-search">
      {% include 'products/search.html' %}
   </div>

   <div class="col-12 products-info d-none">
      <input type="text" class="url-products-json-all" value="{% url 'products:all' %}">
   </div>

   <div class="col-12 products-list">
      <div class="row justify-content-center">

      </div>
   </div>

   <div class="col-12 loader">
      <img src="{% static 'img/loader.svg' %}" alt="Load products">
   </div>

   <template id="item-product">
      <div class="col-lg-3 col-sm-6 my-1 px-1" onclick="">
         <div class="card product">

            <div class="product-header">
               <img class="card-img-top custom-img" src="" alt="Image">
               <div class="price">
                  <span></span>
               </div>
               <div class="in-stock">
                  <span></span>
               </div>
            </div>

            <div class="product-title">
               <div class="name">
                  <p></p>
               </div>
            </div>

         </div>
      </div>
   </template>
</div>