{% load static %} {% load webp_converter %}
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Ventas de juguetes en Ober&aacute; Misiones" />
	<meta name="author" content="Alejandro Soares" />

	<title>Tienda Marcia</title>

	<!-- Thrid parties -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link rel="stylesheet" href="{% static 'font/bootstrap-icons.min.css' %}" />

	<!-- Own -->
	<link href="{% static 'css/main.css' %}" rel="stylesheet" />
	{% block style %}{% endblock %}
</head>

<body>
	{% include 'nav.html' %}
	{% include 'messages.html' %}

	<main>
		{% block content %}{% endblock %}
	</main>

	{% include 'footer.html' %}
</body>

<!-- Bootstrap -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Own -->
<script src="{% static 'js/main.js' %}" type="module"></script>
{% block script %}{% endblock %}

<script>

	const codesDisplayed = [];

	let lCodesDisplayed = codesDisplayed.length,
		screenWidth,
		screenHeight;

	function InsertCodeDisplayed(code) {
		let exist = false;
		for (var i = 0; i < lCodesDisplayed; i++) {
			if (codesDisplayed[i][0] == code) {
				// Ya existe el codigo en la lista, por lo que incrementa la cantidad de visualizaciones
				codesDisplayed[i][1] = codesDisplayed[i][1] + 1;
				exist = true;
				break;
			}
		}
		if (!exist) { // nuevo codigo en la lista
			codesDisplayed.push([code, 1]);
		}
		lCodesDisplayed = codesDisplayed.length;
	}

	function HideNavBarElements() {
		let widthScreen = window.screen.width;

		// Verificar el ancho de la pantalla
		if (widthScreen <= 991) {
			const btn = document.getElementById("btnNavbarToggler"),
				div = document.getElementById("navbarResponsive");

			btn.classList.add("collapsed");
			btn.setAttribute("aria-expanded", "false");
			div.classList.remove("show");
		}
	}

	function NavItemsProducts() {
		const ul = document.getElementById("NavProducts");
		console.log("ul.style.display: ", ul.style.display);
		if (ul.style.display == "none" || ul.style.display == "") {
			ul.style.display = "block";
		} else {
			ul.style.display = "none";
		}
	}

	function ShowAllProducts() {
		const row = document.getElementById("btnForPublications");
		row.style.display = "none";
		SearchByCategory('0');
	}

	function InsertImgsCarousel() {
		const carousel = document.getElementById("carouselIndicators"),
			items = carousel.querySelectorAll("div.carousel-item");

		items.forEach(item => {
			item.setAttribute("style", `background-image: url('${imgCarousel}');\
                                          position:relative;`);
		})
	}
</script>

</html>