<div class="chat-container">

    <div id="show-chat">
        <i class="bi bi-chat"></i>
    </div>

    <div class="container d-none" id="chat">
        
        <div class="row chat-title">
            <div class="col-8">
                <p class="mb-0 text-left">DM Chatbot</p>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <div class="close-chat" id="close-chat">
                    <i class="bi bi-x"></i>
                </div>
            </div>
        </div>

        <div class="row chat-box" id="chat-box">
            <div class="col-12">
                <div class="row justify-content-start">
                    <div class="col-8 message assistant">
                        <p>Hello. How can I help you?</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row chat-typing-area">
            <div class="col-12 input-field">
                <input type="text" id="chat-input" placeholder="Type your message" required>
                <button id="chat-send">Send</button>
            </div>
        </div>
    </div>

    <div class="d-none data-reference" id="chat-data">
        <input type="text" class="enable-automatic-chatbot" value="{{ ENABLE_AUTOMATIC_CHATBOT }}">
        <input type="url" class="url-automatic-chatbot" value="{% url 'chat:api:automatic-chatbot' %}">
        <input type="url" class="url-new-chat" value="{% url 'chat:api:new-chat' %}">
        <input type="url" class="url-get-messages" value="{% url 'chat:api:get-messages' %}">
        {% csrf_token %}
    </div>

</div>





