<div class="row justify-content-center contact" id="contact">
	
	<div class="col-12 contact-title">
		<h2 class="text-center">Contacto</h2>
	</div>

	<div class="col-12 col-md-8 col-lg-6 contact-form">
		<div class="row justify-content-center">
			<input type="hidden" class="contact-url" value="{% url 'contact:contact' %}">
			{% csrf_token %}
			<div class="col-12 msg-form d-none">
				<p class="text-center text-muted success">
					Su mensaje ha sido enviado correctamente 
					<br> Nos contactaremos a la brevedad.
				</p>
				<p class="text-center fail text-danger">
					Ha sucedido un error 
					<br> Por favor, espere un momento e intentelo nuevamente.
				</p>
			</div>
			<div class="col-12 name">
				<p class="msg-field d-none">Este campo es requerido</p>
				<input type="text" class="field-form" name="name" placeholder="Nombre *">
			</div>
			<div class="col-12 email">
				<p class="msg-field d-none">Ingrese un email o tel&eacute;fono válido</p>
				<input type="email" class="field-form" name="email" placeholder="Email o tel&eacute;fono *">
			</div>
			<div class="col-12 message">
				<p class="msg-field d-none">Este campo es requerido</p>
				<textarea class="field-form" name="message" cols="30" rows="4"
					placeholder="Ingrese su mensaje aqu&iacute; *"></textarea>
			</div>
			<div class="col-12">
				<button type="button" class="btn btn-primary w-100 send">Enviar</button>
			</div>
		</div>
	</div>

	{% if contact %}
	<div class="col-12 form-information mt-2 contact-information">
		<div class="row justify-content-center">

			<div class="col-12 contact-information-title">
				<p class="text-center m-2">Tambi&eacute;n puedes encontrarnos en:</p>
			</div>

			<div class="col-12 contact-information-body">
				<ul>
					{% if contact.facebook %}
					<li>
						<a href="{{ contact.facebook }}">
							<i class="fa fa-facebook-f"></i>
						</a>
					</li>
					{% endif %}
					{% if contact.instagram %}
					<li>
						<a href="{{ contact.instagram }}">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					{% endif %}
					{% if contact.twitter %}
					<li>
						<a href="{{ contact.twitter }}">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					{% endif %}
					{% if contact.phone %}
					<li>
						<a href="tel:{{ contact.phone }}">
							<i class="fa fa-phone"></i>
						</a>
					</li>
					{% endif %}
					{% if contact.phone %}
					<li>
						<a href="https://api.whatsapp.com/send?phone={{ contact.phone }}">
							<i class="fa fa-whatsapp"></i>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	{% endif %}
</div>