{% autoescape off %}
  {% if messages %}
    {% for message in messages %}
      <nav class="navbar navbar-expand-lg user-messages">
        <div class="container">
            <div class="alert {% if 'success' in message.tags %} alert-success {% elif 'info' in message.tags %} alert-info {% elif 'error' in message.tags %} alert-danger {% else %} alert-light {% endif %} text-center font-14 w-100 py-2" role="alert">
              <div class="row">
                <div class="col-11 user-messages-message">
                  <p>{{ message }}</p>
                </div>
                <div class="col-1 user-messages-close">
                  <button type="button" id="btn-close-message" class="close-message">
                     <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
          </div>
        </div>
      </nav>
    {% endfor %}
  {% endif %}
{% endautoescape %}