<div class="row my-4 justify-content-center" id="opening">

    <div class="col-12 opening-title">
        <h2 class="text-center">Horarios de atenci&oacute;n</h2>
    </div>

    <div class="col-12 col-md-6 opening-body">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                {% for open in opening %}
                    <div class="row justify-content-center opening-item">
                        <div class="col-4">
                            <span>{{ open }}:</span>
                        </div>
                        <div class="col-8">
                            <span>{{ open.str_schedules }}</span>
                        </div>
                    </div>
                {% endfor %}    
            </div>
        </div>
    </div>
</div>