.footer {
    color: var(--dark);
    padding-top: 24px;
    padding-bottom: 4px;
    width: 100%;
}
.footer ul {
    list-style: none;
    padding-left: 0;
}
.footer-links,
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-links a,
.footer-social a {
    color: var(--gray);
}
.footer-links a:hover,
.footer-social a:hover {
    color: var(--dark);
}
.footer-social {
    font-size: var(--x-lg);
}
.footer-links {
    font-size: var(--md);
}
.footer-social ul li {
    display: inline-block;
    width: 30px;
}
.text-copyright{
    color: var(--dark);
    font-size: var(--sm); 
}