.footer {
   color: var(--dark);
   padding-top: 24px;
   padding-bottom: 4px;
   width: 100%;
}
.footer ul {
   list-style: none;
   padding-left: 0;
}
.footer-links,
.footer-social,
.footer-page {
   display: flex;
   flex-direction: column;
}
.footer-links a,
.footer-social a {
   color: var(--gray);
}
.footer-links a:hover,
.footer-social a:hover {
   color: var(--dark);
}

.footer-social ul li {
   display: inline-block;
   width: 30px;
}
.text-copyright {
   color: var(--dark);
   font-size: var(--sm);
}
.footer-section-title {
   height: 32px;
}
.footer-section-title p {
   font-size: var(--lg);
   text-decoration: underline;
}
.footer-section-body {
   font-size: var(--md);
   color: var(--gray);
   padding: 10px 10px 10px 40px;
   flex-grow: 1;
}
.footer-section-body p {
   margin-bottom: 0;
}
.footer-social a {
   font-size: var(--x-lg);
}

@media screen and (max-width: 768px) {
   .footer-section-title p {
      text-align: center;
   }
   .footer-section-body {
      padding: 10px 0;
      text-align: center;
   }
}