{% extends 'base.html' %}

{% load static %}

{% block preload %}
<link rel="preload" href="{% static 'css/products/products.css' %}" as="style">
<link rel="preload" href="{% static 'css/products/product.css' %}" as="style">
<link rel="preload" href="{% static 'css/products/questions.css' %}" as="style">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/products/products.css' %}">
<link rel="stylesheet" href="{% static 'css/products/product.css' %}">
<link rel="stylesheet" href="{% static 'css/products/questions.css' %}">
{% endblock %}

{% block content %}
<div class="container">
   <div class="row my-4">

      <div class="col-12">
         <a href="{% url 'home:home'%}#products" class="btn btn-link"><i class="bi bi-arrow-left left"></i>Home</a>
      </div>
      
      <div class="col-12 main-product" data-product-id="{{ product.id }}">
         <div class="row">
            <div class="col-12 col-md-8 product-img">
               <img src="{{product.img_webp.url}}" alt="Product Image" loading="lazy">
            </div>
            <div class="col-12 col-md-4 product-detail">
               <div class="row product-title">
                  <div class="col-12">
                     <h2>{{product.name}}</h2>
                  </div>
               </div>
               <div class="row product-info">
                  <div class="col-6 price">
                     <p class="text-success text-left">$ {{product.price}}</p>
                  </div>
                  <div class="col-6 availability">
                     <p class="text-muted text-right">{% if product.in_stock %}Stock{% else %}Out of stock{% endif %}
                     </p>
                  </div>
               </div>
               <div class="row product-description">
                  <div class="col-12">
                     <p>{{product.description}}</p>
                  </div>
                  <div class="col-12 code" data-code="{{product.code}}">
                     <p class="text-muted text-left">Code: {{product.code}}</p>
                  </div>
               </div>
               <div class="row product-consult">
                  <div class="col-12">
                     <button type="button" class="btn btn-success d-block w-100">
                        Ask <i class="bi bi-whatsapp"></i>
                     </button>
                     <div class="product-questions d-none">
                        <ul></ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-12 recommendations">
         <div class="row my-4">
            <div class="col-12">
               <p class="text-center">Products may you be interested in:</p>
            </div>
         </div>

         <div class="row products">

            <div class="col-12 products-loader">
               <img src="/static/img/loader.svg" alt="Loading Image">
               <span class="loading-text">Loading related products...</span>
            </div>

            <div class="col-12 products-list d-none">
               <div class="row justify-content-center">
               </div>
            </div>
         </div>

         <template id="template-product-card">
            <a class="col-lg-3 col-sm-6 my-1 px-1 .product" href="">
               <div class="card product">
                  <div class="product-header">
                     <img class="card-img-top custom-img" src="" alt="Image" loading="lazy">
                     <div class="price">
                        <span></span>
                     </div>
                  </div>

                  <div class="product-title">
                     <div class="name">
                        <span></span>
                     </div>
                  </div>
               </div>
            </a>
         </template>
      </div>

   </div>
</div>

<div class="d-none" id="questions-data">
   <input type="hidden" class="url" value="{% url 'questions:api:questions' %}">
   {% csrf_token %}
</div>

{% endblock %} 

{% block script %}
<script async src="{% static 'js/products/questions.js'%}" type="module"></script>
<script async src="{% static 'js/products/recommendedProducts.js'%}" type="module"></script>
{% endblock %}