{% load static %}

<div class="row products" id="products">

   <div class="col-12">
      <h2 class="text-center">Our products:</h2>
   </div>

   <div class="col-12 products-search">
      {% include 'products/search.html' %}
   </div>

   <div class="col-12 products-list">
      <div class="row justify-content-center">
      </div>
   </div>

   

   <div class="search-not-found col-12 d-none" id="search-not-found">
      <p class="text-center">We did not find any results.</p>
   </div>

   <div class="col-12 loader" id="products-loader">
      <img src="{% static 'img/loader.svg' %}" alt="Load products">
   </div>

   {% include 'pagination.html' %}
   
   <div class="col-12 products-info d-none" id="products-data">
      <input type="text" class="url-get-products" value="{% url 'products:api:get-products' %}">
   </div>

   <template id="item-product">
      <div class="col-lg-3 col-sm-6 my-1 px-1">
         <div class="card product">

            <div class="product-header">
               <img class="card-img-top custom-img" src="" alt="Image" loading="lazy">
               <div class="price">
                  <span></span>
               </div>
               <div class="code d-none">
                  <span></span>
               </div>
            </div>

            <div class="product-title">
               <div class="name">
                  <p></p>
               </div>
            </div>
         </div>
      </div>
   </template>
</div>