<div class="row justify-content-center search" id="search">

    <div class="col-12 col-md-8 search-container">
        <div class="row search-relative-container">
            <div class="col-10 col-sm-11 p-0 h-100">
                <input type="text" name="q" id="searchInput" class="search-input" placeholder="¿Que buscas?" value=""
                    autocomplete="off">
            </div>
            <div class="col-2 col-sm-1 p-0 h-100">
                <button type="button" class="search-btn" id="searchBtn" aria-label="search"><i class="bi bi-search"></i></button>
            </div>
            <div class="col-12 search-result-list d-none">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="col-12 pl-0 pr-0 search-categories" id="categories">
        <ul class="categories-list">
            <li class="search-category" data-id="0">
                <span class="badge badge-primary custom-span-category">Todos</span>
            </li>
            {% for c in categories %}
            <li class="search-category" data-id="{{c.id}}">
                <span class="badge badge-primary custom-span-category">{{c.name}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="d-none" id="categories-data">
        <input type="url" class="get-products" value="{% url 'products:api:get-products' %}">
    </div>
    
</div>