/* MESSAGES */

nav.user-messsages {
   position: fixed;
	top: 10px;
	max-width: 80%;
	border-radius: 5px;
	margin: auto;
   z-index: 2000;
   padding: 0 !important;
}

.user-messages .row{
	position: relative;
}
.user-messages-message,
.user-messages-close {
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.user-messages-message > p {
	padding: 0 8px; 
   text-align: center;
   margin-bottom: 0;
}

.user-messages-close button {
   padding: 4px;
	background: transparent;
	font-size: 16px;
	color: var(--white);
	font-weight: bold;
   border: none;
}


/* nav.msg-success{
	background: rgba(40,167, 69, 0.7); 
	color:white;
}
nav.msg-info{
	background: white; 
	color:#17a2b8 !important;
	border:0.8px solid #17a2b8;
	}
nav.msg-error{
	background: red;
	color:white;
}
nav.msg-other{
	background:#FEC750;
	color:white;
}

nav.nav-bar > div.row div.alert > div.container >  div.msg{
	padding-left: 15px;
} */