<div class="row my-4 justify-content-center" id="attention">
    <div class="col-12">
        <h2 class="text-center">Horarios de atenci&oacute;n</h2>
    </div>

    <div class="col-12 col-md-6">
        <div class="row schedule">
            <div class="col-4">
                <p>Lunes</p>
            </div>
            <div class="col-8">
                <p>9 a 10 - 15 a 20</p>
            </div>
            <div class="col-4">
                <p>Martes</p>
            </div>
            <div class="col-8">
                <p>9 a 10 - 15 a 20</p>
            </div>
            <div class="col-4">
                <p>Mi&eacute;rcoles</p>
            </div>
            <div class="col-8">
                <p>9 a 10 - 15 a 20</p>
            </div>
            <div class="col-4">
                <p>Jueves</p>
            </div>
            <div class="col-8">
                <p>9 a 10 - 15 a 20:30</p>
            </div>
            <div class="col-4">
                <p>Viernes</p>
            </div>
            <div class="col-8">
                <p>9 a 10 - 15 a 20</p>
            </div>
            <div class="col-4">
                <p>S&aacute;bado</p>
            </div>
            <div class="col-8">
                <p>9 a 12</p>
            </div>
            <div class="col-4">
                <p>Domingo</p>
            </div>
            <div class="col-8">
                <p>Cerrado</p>
            </div>
        </div>
    </div>
</div>