{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <link href="{% static 'products/css/products.css' %}" rel="stylesheet">
    <link href="{% static 'contact/css/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid px-0">
    {% include 'home/header.html' %}
</div>

<div class="container">
    {% include 'products/products.html' %}
    {% include 'opening/index.html' %}
    {% include 'contact/contact.html' %}
</div>

{% endblock %}