{% extends 'base.html' %}

{% load static %}

{% block style %}
<link href="{% static 'products/css/products.css' %}" rel="stylesheet" />
<link href="{% static 'contact/css/contact.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container-fluid px-0">{% include 'home/header.html' %}</div>

<div class="container">
   {% include 'products/products.html' %}
   {% include 'opening/index.html' %}
   {% include 'contact/contact.html' %}
</div>

{% endblock %}

{% block script %}
<script src="{% static 'contact/js/contact.js' %}" type="module"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'products/js/products.js'%}"></script>
{% endblock %}