 {% load static %}
 <!-- Modal: modalQuickView -->
<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8 justify-content-center d-flex" style="position: relative;">
            <div class="cerrar-modal"><i class="fa fa-times-circle" onclick="CloseModalBtn()"></i></div>
            <img src="" alt="Image" id="showProductImg" class="img-modal">
          </div>
          <div class="col-lg-4 border-left col-content-modal">
            
            <div class="row">
              <div class="col-12">
                <h2 class="h2-responsive product-name">
                  <strong id="showProductName" class="w-100 d-block text-center"></strong>
                  <span id="showProductCode" class="text-muted w-100 d-block text-center text-md-left"></span>
                </h2>
              </div>
            </div>

            <hr class="m-1">

            <div class="row">
              <div class="col-6">
                <span id="showProductStock" class="stock-item w-100 align-middle text-muted"></span>
              </div>
              <div class="col-6">
                <span id="showProductPrice" class="price-item text-right w-100 align-middle"></span>
              </div> 
            </div>
            <hr class="hr-description" style="display: none">
            <div class="row row-description" style="display: none">
              <div class="col-12">
                <span id="showProductDescription" class="text-muted w-100 d-block"></span>
              </div> 
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 